body {
  font-family: 'Open Sans', Arial, sans-serif;
  padding-top: 0px;
  margin: 0px 200px;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6, p.desc {
  font-family: 'Lato', Arial, sans-serif;
}

h1, p.desc {
  text-align: center;
}

p.desc {
  font-size: 22px;  
}

a, a:link, a:visited, a:visited:hover, a:hover {
  text-decoration: none;
}

a {
  color: #006699;
}

a:hover {
  color: #000;
}

a:active, a:hover {
  outline: 0;
}

img {
  margin: 20px auto;
  display:block;
  width: 60%;
  border-color: #555;
  border-style: solid;
  border-width: 10px;
}

figure {
  margin: 30px;
}

figcaption {
  font-style: italic;
  text-align: center;
}