html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: -1px;
}
.cmd-btn {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 48px;
    border: 3px solid #555;
    border-radius: 5px;
    color: #555;
    background: transparent;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    width: 350px;
}
.cmd-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #555;
}
.layer1 {
    z-index: 2;
    margin: 3px;
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.layer2 {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.spacer {
    height: 10%;
}
.outer {
    position: relative;
    margin: 0;
    width: 100%;
    height:100%;
    display: table;
}

.viewer {
    width:50%;
    height:100%;
}